html {
  height: 100vh;
  height: -webkit-fill-available;
}
body {
  @apply font-sans h-fit-screen;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply h-fit-screen text-gray-700;
}

*,
*::after,
*::before {
  touch-action: manipulation;
}


.h-fit-screen {
  min-height: 100vh;
  min-height: 100dvh;
}
.layout--fill {
  @apply h-fit-screen flex flex-col;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

.link {
  @apply text-blue-600 cursor-pointer;
}
.link--hashtag, .link--symbol {
  @apply font-bold;
}
.muted {
  @apply text-gray-400;
}

.padding-x {
  @apply px-2 md:px-0;
}