html {
  height: 100vh;
  height: -webkit-fill-available;
}
body {
  /* background-color: #777; */
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#app {
  @apply font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

*,
*::after,
*::before {
  touch-action: manipulation;
}

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}