html {
  height: 100vh;
  height: -webkit-fill-available;
}

body {
  @apply font-sans h-fit-screen;
}

*,
*::after,
*::before {
  touch-action: manipulation;
}

a, button[type="button"] {
  @apply cursor-pointer;
}
a.disabled {
  @apply pointer-events-none opacity-25;
}


.app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-sm h-fit-screen text-gray-700 dark:bg-slate-800 dark:text-slate-300;
}

.h-fit-screen {
  min-height: 100vh;
}
.layout--fill {
  @apply h-fit-screen flex flex-col justify-between;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

.link {
  @apply text-blue-600 dark:text-blue-300 cursor-pointer;
}
.link--hashtag, .link--cashtag {
  @apply font-bold;
}
.muted {
  @apply text-gray-500;
}

.padding-x {
  @apply px-2 md:px-0;
}
